_target_: boost_and_broadside.models.yemong.scaffolds.YemongSpatial

d_model: 256
n_layers: 6
n_heads: 4
learning_rate: 1e-4

scheduler:
  type: "warmup_constant"
  warmup:
    steps: 500
    start_lr: 1e-7

spatial_layer:
  _target_: boost_and_broadside.models.components.layers.attention.RelationalAttention
  d_model: ${model.d_model}
  n_heads: ${model.n_heads}

lambda_actions: 1.0
